<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!-- Bootstrap Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Local Stylesheet -->
    <link rel="stylesheet" href="/stylesheets/styles.css">

    <title>Oscar Kodes</title>
  </head>
  <body>

<!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <!-- The logo that will show up on mobile sized screens -->
      <a class="navbar-brand mobile-logo display-1" href="/front">Oscar Kodes</a>

        <a class="nav-link text-secondary ml-auto" href="/projects">Projects</a>
        <a class="nav-link text-secondary" href="/skill-set">Skill Set</a>

        <!-- The logo that will show up on desktop sized screens -->
        <a class="navbar-brand desktop-logo display-1" href="#">Oscar Kodes</a>

        <a class="nav-link text-secondary" href="/resume">Resume</a>
        <a class="nav-link text-secondary mr-auto" href="/contact">Contact</a>

      </ul>


    </nav>
