<%- include partials/header %>

<div class="mid-container">

  <div class="row skill-card-container">
    <div class="col-lg-4 text-center skill-card">
      <h1>Frontend</h1>
      <ul class="skill-list">
        <li>HTML5</li>
        <li>CSS3</li>
        <li>BootStrap</li>
        <li>JavaScript</li>
        <li>DOM</li>
        <li>JQuery</li>
      </ul>
    </div>
    <div class="col-lg-4 text-center skill-card">
      <h1>Backend</h1>
      <ul class="skill-list">
        <li>NodeJS</li>
        <li>NPM</li>
        <li>Express</li>
        <li>EJS</li>
        <li>MongoDB</li>
        <li>Mongoose</li>
        <li>RESTful Routes</li>
        <li>APIs</li>
        <li>Bash Command Line</li>
        <li>Git & GitHub</li>
      </ul>
    </div>
    <div class="col-lg-4 text-center skill-card">
      <h1>Other</h1>
      <ul class="skill-list">
        <li>Basic Photo Editing</li>
      </ul>
      <p class="mt-4">And always happy to learn new skills!</p>
    </div>
  </div>


</div>

<%- include partials/footer %>
