/* TAGS ==================== */
body {
  background-color: lavender;
}


/* NAVBAR CLASSES====================== */
.nav-link:hover {
  background-color: lavender;
}

.desktop-logo {
  display: none;
  margin: 0 2rem;
  font-size: 3rem;
}

.mobile-logo {
  text-align: center;
  width: 100vw;
  font-size: 3rem;
}

/* For Deskop Size */
@media only screen and (min-width : 992px) {
  .navbar .nav-link {
    margin-top: 1.5rem;
  }

  .desktop-logo {
    display: inline-block;
  }

  .mobile-logo {
    display: none;
  }
}

/* PAGE MAIN CONTENT CLASSES ============ */
.mid-container {
  background-color: lightgrey;
}

/* FOOTER CLASSES ======================== */
.footer {
  text-align: center;
  color: white;
}

.footer .fab {
  text-decoration: none;
}
