/* TAGS ==================== */
body {
  background-color: lavender;
}


/* NAVBAR CLASSES====================== */
.nav-link:hover {
  background-color: lavender;
}

.desktop-logo {
  display: none;
  margin: 0 2rem;
  font-size: 3rem;
}

.mobile-logo {
  text-align: center;
  width: 100vw;
  font-size: 3rem;
}

/* For Deskop Size */
@media only screen and (min-width : 992px) {
  .navbar .nav-link {
    margin-top: 1.5rem;
  }

  .desktop-logo {
    display: inline-block;
  }

  .mobile-logo {
    display: none;
  }
}

/* PAGE MAIN CONTENT CLASSES ============ */
.mid-container {
  background-color: lightgrey;
}

/* SKILL-SET PAGE CLASSES =============== */
.skill-card-container {
  padding-top: 4rem;
  padding-bottom: 12rem;
}

.skill-card {
  border: 1px solid grey;
  border-radius: 0.2rem;
  margin-top: 2rem;
  padding: 1rem 0;
}

/* For Deskop Size */
@media only screen and (min-width : 992px) {
  .skill-card-container {
    max-width: 70rem;
    margin: 0 auto;
  }

  .skill-card {
    width: 10vw;
    max-width: 20rem;
    margin: 0 auto;
  }
}

.skill-list {
  text-align: left;
  width: 12rem;
  margin: 0 auto;
  line-height: 2;
}

/* CONTACTS LINKS PAGE CLASSES ========== */
.links-container {
  max-width: 60rem;
  padding: 5rem 0;
  margin: 0 auto;
}

.links-container div {
  text-align: center;
  margin: 2rem 0;
}

.links-container div:hover {
  transform: scale(1.1);
  /* filter: brightness(185%); */
}

.links-container p {
  margin-top: 0.85rem;
}

/* FOOTER CLASSES ======================== */
.footer {
  padding: 2rem;
  text-align: center;
  color: white;
}

.footer .fab {
  text-decoration: none;
  margin-bottom: 1rem;
}
