/* TAGS ==================== */
body {
  background-color: lavender;
}


/* NAVBAR CLASSES====================== */
.nav-link:hover {
  background-color: lavender;
}

.desktop-logo {
  display: none;
  margin: 0 2rem;
  font-size: 3rem;
}

.mobile-logo {
  text-align: center;
  width: 100vw;
  font-size: 3rem;
}

/* For Deskop Size */
@media only screen and (min-width : 992px) {
  .navbar .nav-link {
    margin-top: 1.5rem;
  }

  .desktop-logo {
    display: inline-block;
  }

  .mobile-logo {
    display: none;
  }
}

/* WEBSITE WIDE CLASSES ============ */
.mid-container {
  background-color: white;
}

/* FRONT PAGE CLASSES =================== */
.front-page-img {
  height: 70vh;
  background-image: url("../images/bg-img.png");
  background-size: cover;
  background-position: left;
}

.greeting {
  text-align: center;
  font-weight: bold;
  color: black;
  width: 50vw;
  transform: translate(45vw, 32vh);
}

.greeting h1 {
  word-wrap: break-word;
  line-height: 1.5;
}

.front-footer {
  margin-top: 25vh;
}

/* For Awkard Tablet Size */
@media only screen
  and (min-width : 576px)
  and (max-width : 991px) {
    .greeting h1 {
      font-size: 3rem;
    }
}

/* For Deskop Size */
@media only screen and (min-width : 992px) {
  .front-page-img {
    height: 87vh;
    background-position: top left;
  }

  .greeting {
    width: 65vw;
    transform: translate(30vw, 35vh);
  }

  .greeting h1 {
    font-size: 5rem;
  }
}

/* PROJECTS PAGE CLASSES =============== */
.projects-container {
  padding: 3rem 0 6rem;
}

.projects-container button {
  display: block;
  margin: 1.5rem auto 0;
  width: 18rem;
}

.project-card {
  text-align: center;
  background-color: white;
  padding: 2rem;
  margin: 1rem auto 3rem;
}

/* For Deskop Size */
@media only screen and (min-width : 992px) {
  .project-card {
    border: 1px solid black;
    border-radius: .2rem;
    width: 90vw;
    max-width: 45rem;
  }
}

.project-card div a {
  padding-top: 0;
  padding-bottom: 0;
  margin: 1rem 0 2rem;
}

.project-card img {
  width: 45%;
  margin: .4rem .25rem;
}

#pop-img {
  width: 100%;
}

/* SKILL-SET PAGE CLASSES =============== */
.skill-card-container {
  padding: 4rem 1rem 12rem;
}

.card-header {
  font-size: 2.8rem;
}

/* For Deskop Size */
@media only screen and (min-width : 992px) {
  .skill-card-container {
    max-width: 70rem;
    margin: 0 auto;
  }

  .card-header {
    font-size: 2.8rem;
  }
}

/* For Awkard Tablet Size */
@media only screen
  and (min-width : 576px)
  and (max-width : 991px) {
    .card-header {
      font-size: 1.7rem;
    }
}

.skill-list {
  text-align: center;
  margin: 1rem 0;

  /* line-height: 2;
  width: 12rem; */
}

/* CONTACTS LINKS PAGE CLASSES ========== */
.links-container {
  max-width: 60rem;
  padding: 5rem 0;
  margin: 0 auto;
}

.links-container div {
  text-align: center;
  margin: 2rem 0;
}

.links-container div:hover {
  transform: scale(1.1);
}

.links-container p {
  margin-top: 0.85rem;
}

/* FOOTER CLASSES ======================== */
.footer {
  padding: 8rem 2rem 2rem;
  text-align: center;
  color: white;
}

.footer .fab {
  text-decoration: none;
  margin-bottom: 1rem;
}
